* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


body {
    background-color: rgb(36, 36, 36);
    color: white;
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    min-height: 100vh;
    max-height: 100vh;
}

img {
    flex: 1;
    height: 1;
    max-width: 80vw;
    width: auto;
    margin: 30px;
}

a {
    color: aqua;
}

a:visited {
    color: pink;
}

.pony-name {
    font-size: 60px;
    margin-top: 30px;
    text-align: center;
}

#buttons-holder {
    display: flex;
    gap: 10px;
}

.button {
    background-color: rgb(70, 70, 70);
    font-size: 30px;
    padding: 5px;
    font-weight: 700;
    text-align: center;
    user-select: none;
    cursor: pointer;
    flex: 1;
    border-bottom: 10px solid white;
}


.smash-button {
    color: greenyellow;
    border-color: rgb(8, 177, 8);
}

.pass-button {
    color: rgb(255, 47, 47);
    border-color: rgb(177, 8, 8);
}

.page-inner {
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    max-height: 100%;
    flex: 1;
    overflow: hidden;
}